PORT=5000

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

DATABASE_URL=           ## for docker network
DATABASE_URL_DIRECT=    ## for local network

FRONTEND_URL=
ADMIN_URL=

ACCESS_SECRET=
ACCESS_EXPIRY=

REFRESH_SECRET=
REFRESH_EXPIRY=

TABLE_SECRET=
TABLE_EXPIRY=

SEED_ADMIN_MAIL=
SEED_ADMIN_PASS=

SEED_RESTAURANT_NAME=
SEED_RESTAURANT_EMAIL=
SEED_RESTAURANT_PASSWORD=
SEED_RESTAURANT_SLUG=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
